<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Converter</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <div class="container">
        <h1>Resume Highlighter</h1>
        <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
            <input type="text" name="query" placeholder="Enter your query">
            <input type="file" name="file" accept=".pdf">
            <button id="uploadButton" type="submit">Upload</button>
        </form>
        <p id="processingMessage" style="display:none;">File is being processed, your download should begin once the file is processed.</p>
    </div>

    <script>
    document.getElementById('uploadForm').addEventListener('submit', function() {
        document.getElementById('processingMessage').style.display = 'block';
        document.getElementById('uploadButton').setAttribute('disabled', 'disabled');
    });
    </script>
</body>
</html>
